{% extends 'layout.html' %}

{% block sidebar %}
<li><a href="/common/stuff">人员管理</a><li>
<li  class="active"><a href="#">工资发放</a></li>
{% endblock%}

{% block content %}
<div class="col-sm-9">
<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>工资</th>
      <th>补交</th>
      <th>退费</th>
      <th>补助01</th>
      <th>补助02</th>
      <th>补助03</th>
      <th>补助04</tH>
      <th>考核</th>
    </tr>
  </thead>
  <tbody id="table">
  </tbody>
</table>
</div>
<div class="col-sm-3">
	<button class="btn btn-lg btn-info">产生工资表</button>
</div>
{% endblock %}

{% block js %}
<script>
$.getJSON('/common/salary/getbase',function(res){
	var str = ''
	$.each(res,function(ind,val){
		str += '<tr pk="'+val[0]+'"><td>'+(ind+1)+'</td><td>'+val[1]+'</td><td>'+val[2]+'</td>'
		str += '<td><div class="form-group"><input type="text" class="form-control another" value="'+val[3]+'"></div></td>'
		str += '<td><div class="form-group"><input type="text" class="form-control drawback" value="'+val[4]+'"></div></td>'
		str += '<td><div class="form-group"><input type="text" class="form-control benefit01" value="'+val[5]+'"></div></td>'
		str += '<td><div class="form-group"><input type="text" class="form-control benefit02" value="'+val[6]+'"></div></td>'
		str += '<td><div class="form-group"><input type="text" class="form-control benefit03" value="'+val[7]+'"></div></td>'
		str += '<td><div class="form-group"><input type="text" class="form-control benefit04" value="'+val[8]+'"></div></td>'
		str += '<td><div class="form-group"><input type="text" class="form-control exam" value="'+val[9]+'"></div></td></tr>'
	})
	$('#table').html(str)
})
// $(document).on('change','.another',function(){
// 	var id = $(this).parents().filter('tr').attr('pk')
// 	//console.log(id)
// 	var val = $(this).val()
// 	$.post('/common/salary/set',{'col':'another','id':id,'val':val},function(res){
// 		if(res == 'ok'){

// 		}
// 		else{
// 			alert('数据同步失败')
// 		}
// 	})
// })

function setsalary(setclass){
	$(document).on('change','.'+setclass,function(){
	var id = $(this).parents().filter('tr').attr('pk')
	//console.log(id)
	var val = $(this).val()
	if(val.length==0){
		$(this).val(0)
	}
	else {
		$.post('/common/salary/set',{'col':setclass,'id':id,'val':val},function(res){
			if(res == 'ok'){

			}
			else{
				alert('数据同步失败')
			}
		})
	}
})
}

setsalary('drawback')
setsalary('another')
setsalary('benefit01')
setsalary('benefit02')
setsalary('benefit03')
setsalary('benefit04')
setsalary('exam')
</script>
{% endblock %}
