{% extends 'layout.html' %}

{% block sidebar %}
<li><a href="/common/stuff">人员管理</a><li>
<li  class="active"><a href="#">工资发放</a></li>
{% endblock%}

{% block content %}
<div class="col-sm-9">
	<form class="form-inline">
  <div class="form-group">
  	<label>时间</label>
    <div class="input-group">
      <input type="text" class="form-control" id="salary_year">
      <div class="input-group-addon">年</div>
    </div>
        <div class="input-group">
      <input type="text" class="form-control" id="salary_mon">
      <div class="input-group-addon">月</div>
    </div>
            <div class="input-group">
      <input type="text" class="form-control" id="salary_day">
      <div class="input-group-addon">日</div>
    </div>
  </div>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>工资</th>
      <th>养老保险</th>
      <th>失业保险</th>
      <th>工伤保险</th>
      <th>住房公积金</th>
      <th>个人所得说</th>
      <th>补交</th>
      <th>退费</th>
      <th>补助01</th>
      <th>补助02</th>
      <th>补助03</th>
      <th>补助04</tH>
      <th>实发</th>
    </tr>
  </thead>
  <tbody id="table">
  </tbody>
</table>
</div>
<div class="col-sm-3" >
	<button class="btn btn-lg btn-info" id="salary_recal">修改</button>
	<button class="btn btn-lg btn-info" id="salary_sub">提交</button>
</div>
{% endblock %}

{% block js %}
<script>
function get_cal(){
  $.getJSON('/')
}
$('#salary_recal').on('click',function(){
	$.post('/common/salary',{'cal':0},function(res){
		if(res=='ok'){
			window.location.href='/common/salary'
		}
		else{
			alert('操作错误')
		}
	})
})
</script>
{% endblock %}