{% extends 'layout.html' %}

{% block sidebar %}
<li><a href="/common/stuff">人员管理</a><li>
<li  class="active"><a href="#">工资发放</a></li>
<li><a href="/common/summary">工资统计</a></li>
{% endblock%}

{% block content %}
<div class="col-sm-9">
	<form class="form-inline">
  <div class="form-group">
  	<label>时间</label>
    <div class="input-group">
      <input type="text" class="form-control" id="salary_year" disabled>
      <div class="input-group-addon">年</div>
    </div>
        <div class="input-group">
      <input type="text" class="form-control" id="salary_mon" disabled>
      <div class="input-group-addon">月</div>
    </div>
            <div class="input-group">
      <input type="text" class="form-control" id="salary_day" disabled>
      <div class="input-group-addon">日</div>
    </div>
  </div>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>工资</th>
      <th>养老保险</th>
      <th>失业保险</th>
      <th>医疗保险</th>
      <th>工伤保险</th>
      <th>住房公积金</th>
      <th>个人所得说</th>
      <th>补交</th>
      <th>退费</th>
      <th>补助01</th>
      <th>补助02</th>
      <th>补助03</th>
      <th>补助04</tH>
      <th>实发</th>
    </tr>
  </thead>
  <tbody id="table">
  </tbody>
</table>
</div>
<div class="col-sm-3" >
	<button class="btn btn-lg btn-info" id="salary_recal">修改</button>
	<button class="btn btn-lg btn-info" id="salary_sub">提交</button>
</div>
{% endblock %}

{% block js %}
<script>
$.get('/common/salary/getime',function(res){
  var datelist = res.split('-')
  $('#salary_year').val(datelist[0])
  $('#salary_mon').val(datelist[1])
  $('#salary_day').val(datelist[2])
})
function get_cal(){
  $.getJSON('/common/salary/get_cal',function(res){
    var str = ''
    $.each(res,function(ind,val){
      str += '<tr><td>'+(ind+1)+'</td><td>'+val[1]+'</td><td>'+parseInt(val[2])/100+'</td><td>'+parseInt(val[3])/100+'</td><td>'+parseInt(val[4])/100+'</td><td>'+parseInt(val[5])/100+'</td><td>'+parseInt(val[6])/100+'</td><td>'+parseInt(val[7])/100+'</td><td>'+parseInt(val[8])/100+'</td><td>'+parseInt(val[9])/100+'</td><td>'+parseInt(val[10])/100+'</td><td>'+parseInt(val[11])/100+'</td><td>'+parseInt(val[12])/100+'</td><td>'+parseInt(val[13])/100+'</td><td>'+parseInt(val[14])/100+'</td><td>'+parseInt(val[15])/100+'</td></tr>'
    })
    $('#table').html(str)
  })
}
get_cal()
$('#salary_recal').on('click',function(){//修改按钮
	$.post('/common/salary',{'cal':0},function(res){
		if(res=='ok'){
			window.location.href='/common/salary'
		}
		else{
			alert('操作错误')
		}
	})
})
$('#salary_sub').on('click',function(){//提交按钮
  res = confirm('提交之后无法更改，确认要提交吗？')
  if(res){
    $.post('/common/salary/submit',{'sub':1},function(res){
      if (res=='ok'){
        alert('操作成功')
        window.location.href='/common/salary'
      }
      else{
        alert('操作失败')
      }
    })
  }
})
</script>
{% endblock %}